# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Media Upload
backend/media/

# Environment
backend/.env

# React
frontend/node_modules/
frontend/dist/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

backend/db.sqlite3